<div class="speech-recognition-button">
  <div class="speech-recognition-actions">
    <div *ngIf="showLanguageSelection">
      <select [(ngModel)]="app.language" [disabled]="disabled" >
        <option *ngFor="let language of app.languages" [ngValue]="language">{{language.name}}</option>
      </select>
    </div>
    <button *ngIf="!speechRecognition.recording" [disabled]="disabled || speechRecognition.loading || speechRecognition.uploading"
            (click)="speechRecognition.startRecording()">
      <span *ngIf="!speechRecognition.loading && !speechRecognition.uploading">
        Start recording
      </span>
      <span *ngIf="speechRecognition.uploading">
        Uploading record...
      </span>
      <span *ngIf="speechRecognition.loading && !speechRecognition.uploading">
        Calculating text...
      </span>
    </button>
    <button *ngIf="speechRecognition.recording"  [disabled]="disabled || speechRecognition.loading || speechRecognition.uploading"
            (click)="speechRecognition.stopRecording()">
      Stop Recording
    </button>
    <button *ngIf="showLastRecord"
      [disabled]="speechRecognition.recording || !speechRecognition.audioFile || !speechRecognition.audioReady"
      (click)="speechRecognition.playAudio()">Play last recorded text
    </button>

  </div>
  <div class="speech-recognition-results" *ngIf="speechRecognition.results.length">
    <div class="speech-recognition-result" *ngFor="let speechRecognitionResult of speechRecognition.results"
         [ngClass]="{'error': (speechRecognitionResult.error !== undefined)}">
      <p *ngIf="showResults && speechRecognitionResult.error">{{speechRecognitionResult.error}}</p>
      <p
        *ngIf="showResults && speechRecognitionResult.text && speechRecognitionResult.error">{{speechRecognitionResult.text}}</p>
      <app-text-to-speech-button *ngIf="readResult && speechRecognitionResult.text || speechRecognitionResult.error"
                                 [text]="(speechRecognitionResult.text ? speechRecognitionResult.text : speechRecognitionResult.error)"
                                 [autoplay]="speechRecognition.currentResult === speechRecognitionResult"
      ></app-text-to-speech-button>
    </div>
  </div>

</div>

