.websocket-wrapper {
  .websocket {
    .websocket-options {
      display: flex;
    }

    .websocket-message-header {
      display: flex;
    }
    .chat-room-title{
      display: flex;
    }
  }
}
