<div class="text-to-speech-button" *ngIf="text">
  <button
    *ngIf="!textToSpeech.playing || textToSpeech.playing.text !== text || (textToSpeech.audio.currentTime === 0 && textToSpeech.audio.paused)"
    [disabled]="disabled"
    (click)="textToSpeech.makeFileAndPlay(text, app.language)">
    Read
  </button>
  <button
    *ngIf="textToSpeech.playing && textToSpeech.playing.text === text && (textToSpeech.audio.currentTime !== 0 && textToSpeech.audio.paused)"
    [disabled]="disabled"
    (click)="textToSpeech.play()">
    Play
  </button>
  <button *ngIf="textToSpeech.playing && textToSpeech.playing.text === text && !textToSpeech.audio.paused"
          (click)="textToSpeech.pause()">
    Pause
  </button>
  <select [(ngModel)]="app.language" [disabled]="disabled">
    <option *ngFor="let language of app.languages" [ngValue]="language">{{language.name}}</option>
  </select>
  <span class="spacer"></span>
</div>
