<div class="text-to-speech-button" *ngIf="text">


  <select *ngIf="textToSpeech.mode.alias === 'gtts' || textToSpeech.mode.alias === 'polly'" [(ngModel)]="app.language"
          [disabled]="disabled" (ngModelChange)="textToSpeech.filterPollyVoices(textToSpeech.pollyEngine);">
    <option *ngFor="let language of app.languages" [ngValue]="language">{{language.name}}</option>
  </select>
  <select *ngIf="textToSpeech.mode.alias === 'polly' &&  textToSpeech.pollyEngines.length"
          [(ngModel)]="textToSpeech.pollyEngine"
          (ngModelChange)="textToSpeech.filterPollyVoices(textToSpeech.pollyEngine)">
    <option *ngFor="let pollyEngine of textToSpeech.pollyEngines" [ngValue]="pollyEngine">{{pollyEngine}}</option>
  </select>

  <select *ngIf="textToSpeech.mode.alias === 'polly' &&  textToSpeech.pollyEngineVoices.length"
          [(ngModel)]="textToSpeech.pollyVoice">
    <option *ngFor="let voice of textToSpeech.pollyEngineVoices" [ngValue]="voice">{{voice.Name}}</option>
  </select>
  <select *ngIf="textToSpeech.mode.alias === 'eleven-labs'" [(ngModel)]="textToSpeech.elevenLabsVoice"
          [disabled]="disabled" (ngModelChange)="textToSpeech.stop();">
    <option *ngFor="let voice of textToSpeech.elevenLabsVoices" [ngValue]="voice">{{voice.name}}</option>
  </select>
  <button
    *ngIf="!textToSpeech.playing || textToSpeech.playing.text !== text || (textToSpeech.audio.currentTime === 0 && textToSpeech.audio.paused)"
    [disabled]="disabled || textToSpeech.isLoading(text)"
    (click)="textToSpeech.makeFileAndSave(text, app.language, tableName, id)">
    <span *ngIf="!textToSpeech.isLoading(text)">
      Read
    </span>
    <span *ngIf="textToSpeech.isLoading(text)">
      Loading
    </span>
  </button>
  <button
    [disabled]="(textToSpeech.playing && textToSpeech.playing.text !== text) || (disabled || textToSpeech.audio.currentTime === 0)"
    (click)="textToSpeech.replay()">
    Replay
  </button>
  <button
    *ngIf="textToSpeech.playing && textToSpeech.playing.text === text && (textToSpeech.audio.currentTime !== 0 && textToSpeech.audio.paused)"
    [disabled]="disabled"
    (click)="textToSpeech.play()">
    Play
  </button>
  <button *ngIf="textToSpeech.playing && textToSpeech.playing.text === text && !textToSpeech.audio.paused"
          (click)="textToSpeech.pause()">
    Pause
  </button>
  <button
    [disabled]="(textToSpeech.audio.paused && textToSpeech.audio.currentTime === 0)"
    (click)="textToSpeech.stop()">
    Stop
  </button>
  <button
    [disabled]="(!textToSpeech.isAvailable(text))"
    (click)="textToSpeech.download(text)">
    Download
  </button>
  <span class="spacer"></span>
  <div>
    <select [(ngModel)]="textToSpeech.mode">
      <option *ngFor="let mode of textToSpeech.modes" [ngValue]="mode">{{mode.name}}</option>
    </select><br>
    <i *ngIf="textToSpeech.mode.infoUrl"><a href="{{textToSpeech.mode.infoUrl}}" target="_blank">More infos</a></i>

  </div>
</div>
<ul class="text-to-speech-results" *ngIf="data">
  <li *ngFor="let entry of data">
    <div>
      <b>{{entry.mode}}</b>
      <span><i>[{{entry.lang}}]</i></span>
      <span class="spacer"></span>
      <button
        [disabled]="loading"
        (click)="textToSpeech.play(entry)">
        Play
      </button>
      <button
        [disabled]="loading"
        (click)="textToSpeech.download(entry.text)">
        Download
      </button>
    </div>
  </li>
</ul>
