<div *ngIf="!app.token">
  <app-login></app-login>
</div>

<div class="mo-bot" *ngIf="app.token">


  <div class="bot-controls">
    <div>
      <h1>MoBot v0.0.1</h1>

    </div>


    <div class="bot-main-controls">

      <select *ngIf="bot.started" [(ngModel)]="app.language">
        <option *ngFor="let language of app.languages" [ngValue]="language">{{language.name}}</option>
      </select>

      <div class="bot-language-selection" *ngIf="!bot.started">
        <div class="bot-language-selection-language" *ngFor="let language of app.languages"
             (click)="app.language = language; startBot()">
          <span>{{language.name}}</span>
        </div>
      </div>

      <button *ngIf="bot.started" (click)="bot.stop();">Stop Bot</button>
      <button *ngIf="bot.started" (click)="extended = !extended">
        <span *ngIf="!extended">Extended Layout</span>
        <span *ngIf="extended">Default Layout</span>
      </button>

    </div>

    <div *ngIf="bot.started" class="bot-container" [ngClass]="{'hidden': (!extended)}">
      <app-webcam-preview #webcamElement></app-webcam-preview>
      <app-speech-recognition-info *ngIf="extended"></app-speech-recognition-info>

    </div>

    <div class="bot-output" [ngClass]="{'hidden': (!bot.started)}">
      <app-mo-bot-display *ngIf="!extended"></app-mo-bot-display>
      <div>
        <div class="bot-output-text" *ngIf="bot.speechText && extended">

          <b [ngClass]="{'text-loading': (textToSpeech.isLoading(bot.speechText))}">
            <i>
              "{{bot.speechText}}"
            </i>
          </b>
          <div class="text-loading-info" *ngIf="textToSpeech.isLoading(bot.speechText)">
            <small>Loading</small>
          </div>
        </div>
        <app-text-to-speech-button *ngIf="bot.speechText" [text]="bot.speechText"
                                   [layout]="'custom'"
                                   [autoplay]="true"></app-text-to-speech-button>
        <app-speech-recognition-button  [ngClass]="{'hidden': (!extended)}"
                                       [showLanguageSelection]="false"
                                       [showLastRecord]="false"
                                       (onResult)="onSpeechRecognitionResult($event, true); loadResults();"></app-speech-recognition-button>


      </div>
    </div>
  </div>


</div>
