<div *ngIf="!app.token">
  <app-login></app-login>
</div>

<div class="mo-bot" *ngIf="app.token">


  <div class="bot-wrapper">


    <div class="bot-main-controls" *ngIf="bot.started">

      <select [(ngModel)]="app.language">
        <option *ngFor="let language of app.languages" [ngValue]="language">{{language.name}}</option>
      </select>
      <button (click)="bot.stop();">{{app.text('Stop bot')}}</button>
      <button (click)="extended = !extended">
        <span *ngIf="!extended">{{app.text('Configuration')}}</span>
        <span *ngIf="extended">HAL 9000</span>
      </button>

    </div>

    <div class="bot-content">

      <div class="bot-output" [ngClass]="{'hidden': (!bot.started)}">
        <app-mo-bot-display [ngClass]="{'hidden': (extended)}"></app-mo-bot-display>
        <app-mo-bot-configuration [ngClass]="{'hidden': (!extended)}"></app-mo-bot-configuration>

      </div>
      <div *ngIf="!bot.started" class="bot-start-configuration">
        <app-mo-bot-start-view></app-mo-bot-start-view>
      </div>

    </div>
  </div>

  <app-speech-recognition-button *ngIf="bot.started" class="hidden"
                                 [showLanguageSelection]="false"
                                 [showLastRecord]="false"
                                 (onResult)="onSpeechRecognitionResult($event, true);;"></app-speech-recognition-button>


</div>
