$background-color: black;
$text-color: white;
$background-color-secondary: #006379;
$text-color-secondary: $text-color;
$background-color-highlight: #00a8c9;
$text-color-highlight: $text-color;


.background-color {
  background: $background-color;
  color: $text-color;
}

.background-color-secondary {
  background: $background-color-secondary;
  color: $text-color-secondary;
}

.background-color-highlight {
  background: $background-color-highlight;
  color: $background-color;
}

body {
  .mo-bot {

    @extend .background-color;
    background: url("/assets/img/wall_3.png");

    background-origin: content-box;
    background-position: center center;
    background-repeat: repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .bot-output {
      position: relative;
      width: 100%;
      min-height: 420px;
      height: 100%;
      display: block;

    }

    .bot-start-configuration {
      @extend .background-color-secondary;
      text-align: center;
    }

    .bot-wrapper {
      position: relative;
      max-width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .bot-content {
        position: relative;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.25);
      z-index: 0;
    }

    .webcam-output {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);

      webcam {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;

        .webcam-wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          video {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
          }
        }
      }

    }


    .mo-bot-configuration-words {
      @extend .background-color-secondary;
    }

    .hal-9000-display-eye {
      pointer-events: none;

      .webcam-marker {
        border: none;
        box-shadow: none;
        overflow: visible;

        &:before {
          content: '';
          position: absolute;
          width: 3rem;
          height: 3rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 1);
          border-radius: 50%;
          opacity: .25;
        }

        &:after {
          content: '';
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, .5);
          background: white;
          opacity: .5;
        }
      }
    }


    .hidden {
      position: absolute;
      z-index: -10;
      opacity: 0;
      pointer-events: none !important;
    }

    button {
      @extend .background-color;
      transition: all .25s ease;

      &:hover {
        @extend .background-color-highlight;
      }
    }

    .full-table {
      table-layout: fixed;
      width: 100%;
      height: 100%;
    }

    .hal-9000-output-text{
      width: 100%;
      position: absolute;
      bottom: 2rem;
      left: 0;
      text-align: center;
      pointer-events: none;
      z-index: 100;
      opacity: .9;
    }

    .bot-output-text {
      @extend .background-color-secondary;
      position: relative;
      padding: 1rem;
      font-size: 1.2rem;
      line-height: 1.75rem;
      text-align: center;

      .text-loading-info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    .bot-container {
      position: relative;
      display: flex;

      & > * {
        flex: 1;
      }

    }

    .text-loading {
      opacity: 0.5;
    }

    .mo-bot-form-field {
      display: flex;
      flex-wrap: wrap;

      label {
        width: 100%;
      }

      input, select {
        flex: 1;
        width: auto !important;
      }

      span, b, small, i {
        position: relative;
        display: flex;

        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 0 1rem;
      }
    }

    .bot-wrapper {


      .bot-language-selection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem auto;

        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        .bot-language-selection-language {
          flex: 1;
          height: 3rem;
          cursor: pointer;
          @extend .background-color-secondary;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 0 1rem;

          &:hover {
            @extend .background-color-highlight;
          }
        }

      }

      select {
        width: auto;
        text-align: center;

        * {
          text-align: center;
        }
      }

      .bot-main-controls {

        display: flex;
        justify-content: center;

        & > * {
          flex: 1;
        }

      }
    }

    & > div {
      position: relative;
      flex: 1;

      &.hidden {
        position: absolute;
      }
    }

    .mo-bot-display {
      display: flex;
      flex-direction: column;

      .audio-analyzer {
        height: 100% !important;
      }

      &.layout-HAL-9000 {
        position: absolute;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;

        & > * {
          pointer-events: all;
        }
      }
    }

    .audio-analyzer {
      position: relative;
      width: 100%;
      height: 5rem;
      overflow: hidden;

      .audio-analyzer-frequencies {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;

        .audio-analyzer-frequency {

          position: relative;
          height: 100%;
          flex: 1;


          .audio-analyzer-frequency-fill {
            background: rgba(255, 255, 255, .5);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

          }
        }
      }
    }

    .webcam-preview {
      position: relative;
      width: 100%;
      min-height: 100%;
      height: auto;
      @extend .background-color-secondary;

      &.webcam-off {
        width: auto;
      }

      .webcam-container {
        position: relative;
        width: 100%;
        height: auto;


      }

      .webcam-controls {
        display: flex;

        .webcam-record-fps {
          input {
            width: auto;
          }
        }
      }

      .webcam-overlay, .webcam-marker-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        pointer-events: none;

        a, button, input, select, textarea {
          pointer-events: all;
        }
      }
    }


    .webcam-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;

      input {
        background: rgba(255, 255, 255, .75);
      }

      input, button, a {
        pointer-events: all;
      }

      .record-button {
        margin-top: 1rem;
        font-size: 3rem;
      }




    }


    .speech-recognition-info {
      @extend .background-color-secondary;
      position: relative;
      width: 100%;
      min-height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      & > * {
        margin-bottom: 1rem;

        & > * {
          margin-bottom: 1rem;
        }
      }
    }


    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }


    .open-ai-input {
      display: flex;
      flex-direction: column;

      .open-ai-options {
        display: flex;
      }

      form {
        display: flex;
        flex-direction: column;
      }
    }

    .open-ai-results-overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      pointer-events: none;

      & > * {
        pointer-events: all;
      }

      .fullscreen-button {
        position: absolute;
        top: .5rem;
        right: .5rem;
      }
    }


    .open-ai-modes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 3rem;
      column-gap: .5rem;
      row-gap: .5rem;
      margin: .5rem 0;

      .open-ai-mode {

        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid white;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: .5rem;
        cursor: pointer;
        @extend .background-color;
        text-align: center;
        padding: 0 1rem;

        font-weight: bold;
        font-size: 1.5rem;

        transition: background-color .25s ease;

        &.active {
          @extend .background-color-secondary;
          pointer-events: none;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) inset;
        }

        &:hover {
          @extend .background-color-highlight;
        }
      }
    }

    .open-ai-buttons {
      display: flex;

      div {
        position: relative;
        display: flex;
        flex: 1;
      }

      form {
        flex: 1;
        display: flex;

        button {
          flex: 1;
          width: 100%;
        }

      }

    }


    .open-ai-results {
      position: relative;
      flex: 1;
      background: #b3d9ff;
      padding: .5rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;


      .open-ai-results-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.5) inset;
      }


      .open-ai-results-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: .5rem;

        .open-ai-result {
          position: relative;
          width: 100%;
          margin-bottom: 1rem;
          border-bottom: 1px solid white;
          padding: 1rem 0;

          .open-ai-choice {
            margin-bottom: .5rem;


            .open-ai-choice-content {
              width: 100%;
              background: white;
              border-radius: .5rem;
              box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.5) inset;
              padding: 1rem;
              font-weight: bold;
              font-size: 1.1rem;
              line-height: 1.3rem;
              margin: .5rem 0;
            }
          }

        }
      }

    }


    .open-ai-data {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      column-gap: .5rem;
      row-gap: .5rem;


      .open-ai-data-entry {


        .image-preview {
          max-width: 32rem;
          max-height: 32rem;
          margin-bottom: .25rem;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
          }
        }

      }
    }

  }
}

