


frontend/www/*
!frontend/www/README.md

postgres-data/*
resources/uploads/*
!resources/uploads/README.md
resources/dist/*
!resources/dist/README.md
angular-app/dist/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/angular-app/dist
/angular-app/tmp
/angular-app/out-tsc
/angular-app/bazel-out

# Node
/angular-app/node_modules
angular-app/npm-debug.log
angular-app/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/angular-app/.angular/cache
angular-app/.sass-cache/
/angular-app/connect.lock
/angular-app/coverage
/angular-app/libpeerconnection.log
angular-app/testem.log
/angular-app/typings

/python-server/server.log
/python-server/ssl/*
!/python-server/ssl/README.md

postgres-data/*

# System files
.DS_Store
Thumbs.db

Dockerfile
docker-compose.yml
angular-app/src/environments/environment.prod.ts

.env
.idea
