<div class="file-upload">
  <label for="uploadPath">Path</label>
  <input id="uploadPath" name="uploadPath" type="text" [(ngModel)]="app.uploadPath"/><br>
  <div *ngIf="!selectedFile"class="file-drop-box" (click)="fileInput.click()"
       (dragenter)="onDragEnter($event)"
       (dragover)="onDragOver($event)"
       (dragleave)="onDragLeave($event)"
       (drop)="onFileDrop($event)">
    <p>Drag and drop files here</p>
  </div>
  <div  *ngIf="!error && selectedFile" class="file-drop-box done">
    <div *ngIf="isImageFile(selectedFile)" class="file-preview-container" >
      <img  [src]="getPreviewUrl(selectedFile)" alt="{{selectedFile.name}}" class="file-preview">
    </div>
    <p *ngIf="selectedFile">{{selectedFile.name}} <i><small>{{ getFileSize(selectedFile.size) }}</small></i></p>
  </div>
  <div  *ngIf="error && selectedFile" class="file-drop-box error">
    <div>
      <p class="error-message">{{error.message ? error.message: error}}</p>
    </div>
  </div>
  <input class="file-input" type="file" [disabled]="!app.uploadPath" (change)="onFileSelected($event)" #fileInput/>
  <button class="upload-button" [disabled]="!selectedFile || uploaded === selectedFile" (click)="uploadFile()">
    <span>Upload</span>
  </button>
  <button  class="upload-button" [disabled]="!selectedFile" (click)="reset()">
    <span>Cancel</span>
  </button>
</div>

<div *ngIf="uploadedFiles.length">
  <div class="uploaded-file" *ngFor="let file of uploadedFiles">
    <div *ngIf="isImageFile(file)" class="file-preview-container" >
      <img src="{{getPreviewUrl(file)}}" alt="{{file.name}}" class="file-preview">
    </div>
    <p>{{file.name}} <i><small>{{ getFileSize(file.size) }}</small></i></p>
  </div>
</div>
