.audio-analyzer {
  position: relative;
  width: 100%;
  height: 5rem;
  overflow: hidden;

  .audio-analyzer-frequencies {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    .audio-analyzer-frequency {
      position: relative;
      height: 100%;
      flex: 1;
      background: #1976d2;
      border-bottom: 1px solid #b3d9ff;

      .audio-analyzer-frequency-fill {
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        background: #b3d9ff;
      }
    }
  }
}
