
<div *ngIf="!app.token">
  <app-login></app-login>
</div>

<div class="content api-manager" role="main" *ngIf="app.token">
  <h2>API Manager</h2>
  <ng-container *ngIf="!apiManager.api && !apiManager.editApi && !apiManager.selectedResult">
    <app-api-list></app-api-list>
    <button (click)="apiManager.newApi()">Add new API</button>
  </ng-container>
  <ng-container *ngIf="apiManager.editApi && !apiManager.selectedResult">
    <app-edit-api></app-edit-api>
  </ng-container>
  <ng-container *ngIf="apiManager.selectedResult">
    <app-api-result [apiResult]="apiManager.selectedResult"></app-api-result>
  </ng-container>
</div>
