.hidden {
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.webcam-record{
  position: relative;
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }

}
