<div class="file-list">
  <div class="uploaded-file" *ngFor="let serverFile of fileManager.files((filePath|| fileManager.uploadPath))">
    <div *ngIf="fileManager.isImageFile(serverFile)" class="file-preview-container">
      <img [src]="app.fileSrc(serverFile.filename, (filePath|| fileManager.uploadPath))" alt="{{serverFile.filename}}" class="file-preview" />
    </div>
    <p>{{serverFile.filename}} <i><small>[{{ fileManager.getFileSize(serverFile.size) }}]</small></i></p>
    <div class="file-options">
      <button (click)="deleteFile(serverFile)">delete</button>
    </div>
  </div>
</div>
