

.mo-bot-configuration-setting{
  .mo-bot-configuration-output{

  }
  .mo-bot-configuration-setting-words {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    .mo-bot-configuration-setting-word{

    }
  }
  .mo-bot-configuration-task{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
