<div class="speech-recognition-info">
  <div class="speech-recognition-output">
    <div class="speech-recognition-audio" *ngIf="speechRecognition.recordAudio.src">
      <b>Audio Record:</b>
      <button (click)="speechRecognition.playRecord()">Play Record</button>
    </div>
    <div class="speech-recognition-text">
      <span *ngIf="!speechRecognition.recognitionText">
        Speak something
      </span>
      <span *ngIf="!speechRecognition.recognitionText">
        Speak something
      </span>
      <span *ngIf="speechRecognition.recognitionText">
        Last words: <i>"{{speechRecognition.recognitionText}}"</i>
      </span>
    </div>
    <div class="speech-recognition-status">
      <b *ngIf="!speechRecognition.recognitionError">
        Listening...
      </b>
      <b *ngIf="speechRecognition.recognitionError">
        Error: {{speechRecognition.recognitionError}}
      </b>
    </div>
  </div>
  <div class="speech-recognition-detected">
    <div *ngIf="speechRecognition.detectedWords.length" class="speech-recognition-detected-words">
      <b>Detected commands:</b>
      <ul>
        <li *ngFor="let word of speechRecognition.detectedWords">
          {{word}}
        </li>
      </ul>
      <button (click)="speechRecognition.detectedWords = []">
        Clear
      </button>
    </div>
    <div *ngIf="speechRecognition.detectedSentences.length" class="speech-recognition-detected-sentences">
      <b>Detected sentence commands:</b>
      <li *ngFor="let sentence of speechRecognition.detectedSentences">
        {{sentence}}
      </li>
      <button (click)="speechRecognition.detectedSentences = []">
        Clear
      </button>
    </div>
  </div>
  <div class="speech-recognition-whole-text">
    <div>
      <b>All detected words:</b>
      <p><small><i>
      <span *ngIf="!speechRecognition.completeRecognitionText">
        No words detected
      </span>
        <span *ngIf="speechRecognition.completeRecognitionText">
      {{speechRecognition.completeRecognitionText}}
      </span>
      </i></small></p>

      <button *ngIf="speechRecognition.completeRecognitionText" (click)="speechRecognition.completeRecognitionText = ''">
        Clear
      </button>
    </div>
  </div>

</div>
