.webcam-preview {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #1976d2;

  .hidden{
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: -100;
  }

  &.webcam-off {
    width: auto;
  }

  .webcam-container {
    position: relative;
    width: 100%;
    height: auto;


  }

  .webcam-controls {
    display: flex;

    .webcam-record-fps {
      input {
        width: auto;
      }
    }
  }

  .webcam-overlay, .webcam-marker-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;

    a, button, input, select, textarea {
      pointer-events: all;
    }
  }
}
webcam {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;

  .webcam-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    video {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }
}

.webcam-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;

  input {
    background: rgba(255, 255, 255, .75);
  }

  input, button, a {
    pointer-events: all;
  }

  .record-button {
    margin-top: 1rem;
    font-size: 3rem;
  }



}
