.text-to-speech-button {
  position: relative;
  width: 100%;
  display: flex;
  background: #b3d9ff;

  select {
    width: auto;
  }

  label {
    width: auto;
  }
}

.spacer {
  flex: 1;
}

.text-to-speech-input {
  form {
    display: flex;
  }
}
