<div class="content open-ai" role="main">
  <h1>OpenAI</h1>
  <div class="open-ai-input">
    <div class="open-ai-options">
      <label>
        <span>Mode</span>
        <select [(ngModel)]="openAi.mode">
          <option *ngFor="let mode of openAi.modes" [ngValue]="mode">
            {{mode.name}}
          </option>
        </select>
      </label>
      <label *ngIf="openAi.mode.alias === 'chat' || openAi.mode.alias === 'completion'">
        <span>Role</span>
        <select [(ngModel)]="openAi.role" >
          <option *ngFor="let role of openAi.roles" [ngValue]="role">
            {{role}}
          </option>
        </select>
      </label>
      <label *ngIf="openAi.mode.alias === 'completion'">
        <span>Model</span>
        <select [(ngModel)]="openAi.completionModel">
          <option *ngFor="let model of openAi.completionModels" [ngValue]="model">
            {{model}}
          </option>
        </select>
      </label>
      <label *ngIf="openAi.mode.alias === 'chat'">
        <span>Model</span>
        <select [(ngModel)]="openAi.chatModel">
          <option *ngFor="let model of openAi.chatModels" [ngValue]="model">
            {{model}}
          </option>
        </select>
      </label>
      <label *ngIf="openAi.mode.alias === 'image'">
        <span>Number</span>
        <input type="number" [(ngModel)]="openAi.numberOfImages" [min]="1" [max]="openAi.maxNumberOfImages" [step]="1"  />
      </label>
      <label *ngIf="openAi.mode.alias === 'image'">
        <span>Size</span>
        <select [(ngModel)]="openAi.imageSize">
          <option *ngFor="let size of openAi.imageSizes" [ngValue]="size">
            {{size}}
          </option>
        </select>
      </label>

    </div>
    <div class="open-ai-message-input">
          <textarea type="text" [(ngModel)]="openAi.newMessage" [disabled]="openAi.sending" name="textToSpeech"
                    placeholder="Type a text..."></textarea>

    </div>

    <div class="open-ai-buttons">
      <form (ngSubmit)="openAi.addMessage()">
        <button [disabled]="!openAi.newMessage || openAi.sending" type="submit">Add Message</button>
      </form>
      <form (ngSubmit)="openAi.submitRequest()">
        <button [disabled]="(!openAi.newMessage && !openAi.messages.length) || openAi.sending" type="submit">Send Messages</button>
      </form>
    </div>

    <app-speech-recognition-button [disabled]="openAi.sending"
                                   (onResult)="onSpeechRecognitionResult($event)"></app-speech-recognition-button>

  </div>
  <div class="open-ai-results">
    <ul>
      <li *ngIf="!openAi.sending">
        <div *ngFor="let message of openAi.messages">
          <b>{{message.role}}: </b>
          <p><i>"{{message.content}}"</i></p>
        </div>
      </li>
      <li *ngIf="openAi.sending">
        <h3>Calculating response for, please wait..</h3>
        <div *ngFor="let message of openAi.messages">
          <b>{{message.role}}: </b>
          <p><i>"{{message.content}}"</i></p>
        </div>
      </li>
      <li *ngIf="openAi.results && openAi.results.length">
        <h2>Results</h2>
      </li>
      <li class="open-ai-result" *ngFor="let openAiResult of openAi.results">
        <div class="open-ai-question-prompt" *ngIf="openAiResult.prompt">
          <b>Prompt: </b><span><i>"{{openAiResult.prompt}}"</i></span>
        </div>
        <div class="open-ai-question-messages" *ngIf="openAiResult.messages">
          <b>Your messages: </b>
          <div *ngFor="let message of openAiResult.messages">
            <b>{{message.role}}: </b>
            <p><i>"{{message.content}}"</i></p>
          </div>
        </div>

        <div class="open-ai-result-answers" *ngIf="openAiResult.response">
          <div class="open-ai-choices" *ngIf="openAiResult.response.choices">
            <div class="open-ai-choice" *ngFor="let choice of openAiResult.response.choices; let i = index">
              <div *ngIf="choice.message">
                <b>{{choice.message.role}}: </b>
                <p><i>"{{choice.message.content}}"</i></p>
                <app-text-to-speech-button [text]="choice.message.content"
                                           [autoplay]="i === 0"></app-text-to-speech-button>
              </div>
            </div>
          </div>
          <div class="open-ai-data" *ngIf="openAiResult.response.data">
            <div class="open-ai-data-entry" *ngFor="let data of openAiResult.response.data; let i = index">
              <div class="image-preview" *ngIf="data.url" >
                <img [src]="data.url">
              </div>
              <a [href]="data.url" target="_blank">Open Image</a>
            </div>
          </div>
        </div>
        <div *ngIf="openAiResult.response && openAiResult.response.error">
          <p *ngIf="openAiResult.response.error.message">
            {{openAiResult.response.error.message}}
          </p>
          <app-text-to-speech-button [text]="openAiResult.response.error.message"
                                     [autoplay]="true"></app-text-to-speech-button>
        </div>
      </li>
    </ul>
  </div>
</div>
