<div *ngIf="!app.token">
  <app-login></app-login>
</div>

<div class="content webcam-page" role="main" *ngIf="app.token">
  <div class="webcam">
    <button *ngIf="!webcam.started" (click)="startWebcam()">Start</button>
    <button *ngIf="webcam.started" (click)="stopWebcam()">Stop</button>

    <div class="videos">
      <video #video autoplay></video>
      <video #outputVideo controls>
        <source [src]="webcam.videoSrc()" type="video/mp4">
      </video>

    </div>
    <div class="webcam-status" *ngIf="webcam.loading">
      Loading webcam...
    </div>

    <div class="webcam-error" *ngIf="!webcam.loading && webcam.errorMessage">
      {{webcam.errorMessage}}
    </div>
  </div>
</div>
