<div *ngIf="!app.token">
  <app-login></app-login>
</div>

<div class="content webcam-page" role="main" [ngClass]="{'hidden': (!webcam.started)}">
  <div class="webcam">
    <button *ngIf="app.token && !webcam.started" (click)="startWebcam()">Start</button>
    <button *ngIf="app.token && webcam.started" (click)="stopWebcam()">Stop</button>

    <div class="videos">
      <video #video autoplay [ngClass]="{'hidden': (!webcam.started)}"></video>
      <video  *ngIf="app.token" #outputVideo controls [ngClass]="{'hidden': (webcam.started)}" >
        <source [src]="webcam.videoSrc()" type="video/webm">
      </video>

    </div>
    <div class="webcam-status" *ngIf="webcam.loading">
      Loading webcam...
    </div>

    <div class="webcam-error" *ngIf="!webcam.loading && webcam.errorMessage">
      {{webcam.errorMessage}}
    </div>
  </div>
</div>
